services:
  - type: web
    name: cv-matcher-app
    env: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: starter

    envVars:
      - key: CACHE_DIR
        value: /app/cache
      - key: PYTHONUNBUFFERED
        value: "1"

    disk:
      - name: embedding_cache
        mountPath: /app/cache
        sizeGB: 2

    healthCheckPath: /_stcore/health
    autoDeploy: true
